<script type="text/javascript">
	var state = 'A';
	var tier = 'MYMASS';
	var country = 'MY';
	var lang = 'ENG';
	var locale = 'MY';
	var domain = 'qa.cbgrus.website.epsilon.com';
	var member_Id = '';
	var tierCode = 'MYMASS';
	var countryCode = 'MY';
	var languageCode = 'ENG';
</script>
<script type="text/javascript"
	src="https://qa.cbgrus.website.epsilon.com/v2/cms/js/citirewards/lib-combinedjQueryY.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://qa.cbgrus.website.epsilon.com/v2/cms/css/citirewards/GR_header.css">
<link rel="stylesheet" type="text/css"
	href="https://qa.cbgrus.website.epsilon.com/v2/cms/css/citirewards/GR_footer.css">
<script type="text/javascript"
	src="https://qa.cbgrus.website.epsilon.com/v2/cms/js/foresee/foresee-trigger.js"></script>
<div
	data-sly-use.header="com.epsilon.aem.citi.service.core.HeaderServiceComponent"
	data-sly-unwrap>${header.headerResult @ context='html'}